version: 2.1

orbs:
  architect: giantswarm/architect@5.15.0

workflows:
  test:
    jobs:
    - architect/go-build:
        name: go-build
        binary: nancy-fixer
        resource_class: large
        filters:
          tags:
            only: /^v.*/

    - architect/push-to-registries:
        context: architect
        name: push-to-registries
        requires:
        - go-build
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
            - master
